<p-card>
  <p-table [value]="clientes" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="titulo">
        <h3>Desafio Mirante - Clientes</h3>
        <button pButton pRipple type="button"
                label="Adicionar cliente"
                class="p-button-success"
                (click)="addCliente()"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mails</th>
        <th>Telefones</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.cpf | mask: '000.000.000-00'}}</td>
        <td>
          <ul>
            <li class = "lista" *ngFor="let email of cliente.emails">{{email}}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li class = "lista" *ngFor="let tel of cliente.telefones">{{tel.numero | mask: '(00) 00000-0000'}}</li>
          </ul>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="addCliente(cliente)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="removeCliente(cliente)"></button>
        </td>

      </tr>
    </ng-template>

  </p-table>

</p-card>
